<div class="wrapper flex-container flex-container-vertical">
    <div class="container-medium-width container-filled-background">

        <% const relativBaseUrl = interactionDetails ? urlUtils.extendUrl(baseUrl,`interaction`,interactionDetails.uid) : baseUrl %> 

        <h1><%= __('Login') %></h1>
        
        <form class="form" autocomplete="off" action="<%= urlUtils.extendUrl(relativBaseUrl,`login`,`2fa`).href %>" method="post">

            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <input type="hidden" value="<%= loginToken %>" name="twoFactorLoginToken">

            <fieldset>

                <div class="form-group">
                    <label class="label"><%= __('2FA Code') %></label>
                    <%- include("../../partials/form/input-field.ejs",{field: {name:"token",type:"text",required:true,blockValue:true}}) %> 
                </div>

                <%- include("../../partials/form/errors.ejs") %> 

            </fieldset>

            <div class="form-action-group">
                <div class="button-group">
                <button type="submit" class="button primary"><%= __('Verify') %></button>
                <% if (interactionDetails) { %>
                    <a class="button red" href="<%= urlUtils.extendUrl(relativBaseUrl,`abort`).href %>"><%= __('Abort') %></a>
                <% } %>
                </div>
            </div>

        </form>

    </div>
</div>