<div class="wrapper flex-container flex-container-vertical">
    <div class="container-medium-width container-filled-background">

        <h1><%= __('Login') %></h1>

        <% const relativBaseUrl = app.baseUrl + "/" + (interactionDetails ? "interaction/" + interactionDetails.uid + "/" : "") %> 

        <form class="form" autocomplete="off" action="<% relativBaseUrl %>/login/" method="post">

        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
        <fieldset>

            <div class="form-group">
                <label class="label"><%= __('Username') %></label>
                <%- include("../../partials/form/input-field.ejs",{field: {name:"username",type:"text",required:true}}) %> 

            </div>

            <div class="form-group">
                <label class="label"><%= __('Password') %></label>
                <%- include("../../partials/form/input-field.ejs",{field: {name:"password",type:"password",required:true,blockValue:true}}) %> 
                <a class="input-field-help-link" target="_blank" href="<%= app.baseUrl %> /account-recovery/"><%= __('Lost your password?') %></a>
            </div>
            
        </fieldset>

        <div class="form-action-group">
            <div class="button-group">
            <button type="submit" class="button primary"><%= __('Login') %></button>
            <% if (interactionDetails) { %>
                <a class="button red" href="<%= relativBaseUrl %>/abort/"><%= __('Abort') %></a>
            <% } %>
            </div>
            <p><%= __('No account?') %> <a href="<%= app.baseUrl %>/register/"><%= __('Create an account') %></a></p>
        </div>

        </form>

    </div>
</div>