<div class="wrapper flex-container flex-container-vertical">
    <div class="container-medium-width container-filled-background">

        <h1><%= __('invite.request_title') %></h1>
    
        <form class="form" autocomplete="off" action="" method="post">
        <input type="hidden" value="<%= csrfToken %>" name="_csrf">

        <fieldset>

            <div class="alert-info">
            <img src="/icons/info-circle.svg" alt="info">
            <p><%= __('invite.whitelist_info') %>
                <% for( let index = 0; index < emailProviders.length; index++ ) { %>
                <%if(index != 0) {%><%= index+1 == emailProviders.length ? " and " : ", " %><%}%>
                <a href="https://<%= emailProviders[index] %>"><%= emailProviders[index] %></a>
                <%}%>

            </p>
            </div>
    

            <div class="form-group">
                <label class="label"><%= __('user.email') %></label>
                <%- include("../../partials/form/input-field.ejs",{field: {name:"email",type:"email",required:true}}) %> 
            </div>

        </fieldset>

        <div class="form-action-group">
            <div class="button-group">
            <button type="submit" class="button primary"><%= __('common.form.submit') %></button>
            </div>
        </div>

        </form>
    
    </div>
</div>
