<div class="wrapper flex-container flex-container-vertical">
    <div class="container-medium-width container-filled-background">
        
        <h1><%= __('recovery.title') %></h1>
        <p><%= __("recovery.confirmation_sent") %> </p>

        <form class="form" autocomplete="off" action="<%= urlUtils.extendUrl(baseUrl,`account-recovery`,`confirm`).href %>" method="post">
        
        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
        <fieldset>

            <div class="form-group">
                <label class="label"><%= __('recovery.confirmation_code') %></label>
                <%- include("../../../partials/form/input-field.ejs",{field: {name:"confirmCode",type:"text",required:true}}) %> 
            </div>
            
        </fieldset>

        <div class="form-action-group">
            <div class="button-group">
            <button type="submit" class="button primary"><%= __('form.confirm') %></button>
            </div>
        </div>

        </form>

    </div>
</div>
