<div class="wrapper flex-container flex-container-vertical">
    <div class="container-medium-width container-filled-background">

        <h1><%= __('Request recovery') %></h1>
    
        <form class="form" autocomplete="off" action="<% baseUrl %>/account-recovery/request/" method="post">
        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
    
        <fieldset>

            <div class="form-group">
                <label class="label"><%= __('Your Username') %></label>
                <%- include("../../../partials/form/input-field.ejs",{field: {name:"username",type:"text",required:true}}) %> 
            </div>

            <div class="form-group" >
                <label class="label"><%= __('Recovery Method') %></label> 
                <%- include("../../../partials/form/input-select.ejs",{select: {name:"method",id:"recoverySelect",options:[
                    {value:"email",displayName:__('Recovery Email')},
                    {value:"token",displayName:__('Recovery Token')}
                ],defaultNone:{msg:__('-- select a method --')}}}) %>
            </div>
            
            <div id="recoveryEmailSection" class="form-group">
                <label class="label"><%= __('Recovery Email') %></label> 
                <%- include("../../../partials/form/input-field.ejs",{field: {name:"email",type:"email"}}) %> 
            </div>
            
            <div id="recoveryTokenSection" class="form-group">
                <label class="label"><%= __('Recovery Token') %></label> 
                <%- include("../../../partials/form/input-field.ejs",{field: {name:"token",type:"text"}}) %> 
            </div>

        </fieldset>

        <div class="form-action-group">
            <div class="button-group">
                <button type="submit" class="button primary"><%= __('Request') %></button>
            </div>
            <p><%= __('No recovery methods?') %> <a href=""><%= __('Learn more') %></a></p>
        </div>

        </form>

    </div>

</div>

<script>
    document.getElementById("recoverySelect").addEventListener("change",updateRecovery)
    updateRecovery()
    function updateRecovery () {
        selected = document.getElementById('recoverySelect').value
        document.getElementById('recoveryEmailSection').style.display = selected == "email" ? "" : "none";
        document.getElementById('recoveryTokenSection').style.display = selected == "token" ? "": "none";
    }
</script>  