<%- include("../../../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">
    <div class="container container-medium-width container-filled-background">

        <h2><%= __("Add two factor authentication") %> ></h2>

        <div class="qr-code-box">
            <img src="<%= qrCodeSrc %> " alt="">   
            <div><%= secret %></div>
        </div>

        <form class="form" action="/account/2fa/set" method="post">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <input type="hidden" name="secret" value="<%= secret %> ">
            
            <fieldset>

                <div class="form-group">
                    <label class="label"><%= __('Enter Code') %></label>
                    <%- include("../../../partials/form/input-field.ejs",{field: {name:"token",type:"text",required:true}}) %> 
                </div>
        
            </fieldset>

            <div class="form-action-group">
                <button class="button primary"><%= __("Add 2fa") %> </button>
            </div>

        </form>

    </div>
</div>