<%- include("../../../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">
    <div class="container container-medium-width container-filled-background">

        <h2><%= __("Account Recovery") %> </h2>   
        
        <% if (currentRecovery && (currentRecovery.token || currentRecovery.email)) { %>
            <p><%= __("Great! You have %s recovery method(s) setup",(currentRecovery.token && currentRecovery.email) ? 2 : 1) %> </p>
            <ul class="box-list">
                <% if (currentRecovery.token) { %>
                    <li>
                        <p><%= __("Recovery Token") %> </p>
                        <div class="actions">
                            <a href="<%= urlUtils.extendUrl(baseUrl, 'account/recovery/set-token').href %>"><%= __("New Token") %></a>
                            <a href="<%= urlUtils.extendUrl(baseUrl, 'account/recovery/delete-token').href %>" class="red"><%= __("Delete") %></a>
                        </div>
                    </li>
                <% } %>
                <% if (currentRecovery.email) { %>
                    <li>
                        <p><%= __("Recovery Email") %> </p>
                        <div class="actions">
                            <a href="<%= urlUtils.extendUrl(baseUrl, 'account/recovery/set-email').href %>"><%= __("Modify") %></a>
                            <a href="<%= urlUtils.extendUrl(baseUrl, 'account/recovery/delete-email').href %>" class="red"><%= __("Delete") %></a>
                        </div>
                    </li>
                <% } %>
            </ul>
        <% } else { %>
            <p><%= __("No recovery setup at the moment.") %> </p>
        <% } %>
        <div class="button-group">
            <% if (!currentRecovery?.email) { %>
                <a class="button" href="<%= urlUtils.extendUrl(baseUrl, 'account/recovery/set-email').href %>"><%= __("Add recovery Email") %></a>
            <% } %>
            <% if (!currentRecovery?.token) { %>
                <a class="button" href="<%= urlUtils.extendUrl(baseUrl, 'account/recovery/set-token').href %>"><%= __("Add recovery Token") %></a>
            <% } %>
        </div>

    </div>
</div>