<%- include("../../../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">

    <div class="container container-medium-width container-filled-background">
      
        <% if (method == "token") { %>
            <h2><%= __("Remove recovery token") %> </h2>
        <% } else if (method == "email") { %>
            <h2><%= __("Remove recovery email") %> </h2>
        <% } %>

        <form class="form" autocomplete="off" action="" method="post">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      
            <fieldset>
                
                <%- include("../../../partials/alert-info.ejs",{info: __("You are about to remove one of your recovery methods. This might lead to you losing your account if you lose your password!"),moreInfoLink: "https"}) %> 
                <div class="form-group">
                    <label class="label"><%= __('Current password') %></label>
                    <%- include("../../../partials/form/input-field.ejs",{field: {name:"currentPassword",type:"password",required:true}}) %> 
                </div>

            </fieldset>
            <div class="form-action-group">
                <div class="button-group">
                    <button type="submit" class="button red"><%= __('Confirm Remove') %></button>
                </div>
            </div>
        </form>
        
        

    </div>

</div>