<%- include("../../../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">
    <div class="container container-medium-width container-filled-background">

        <% if (hasRecoveryEmail) { %>
            <h2><%= __("account.common.recovery_email.update.title") %></h2>
        <% } else { %>
            <h2><%= __("page.recovery.add.email.title") %></h2>
        <% } %>

        <form class="form" autocomplete="off" action="" method="post">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      
            <fieldset>       
              
                <%- include("../../../partials/alert-info.ejs",{info: __("account.common.recovery_email.setup.warning"),moreInfoLink: "https://0xacab.org/aktivistek/aktivistio-accounts/-/blob/master/documentation/SECURITY.md"}) %> 
                
                <div class="form-group">
                    <label class="label"><%= __('common.current_password') %></label>
                    <%- include("../../../partials/form/input-field.ejs",{field: {name:"currentPassword",type:"password",required:true}}) %> 
                </div>

                <div class="form-group">
                    <label class="label"><%= __('account.common.recovery_email.new.label') %></label>
                    <%- include("../../../partials/form/input-field.ejs",{field: {name:"email",type:"email",required:true}}) %> 
                </div>

            </fieldset>
            
            <div class="form-action-group">
              <div class="button-group-row">
                <button type="submit" class="button primary"><%= __('account.common.recovery_email.set.button') %></button>
              </div>
            </div>

        </form>
        
    </div>
</div>
