<div class="max-w-7xl mx-auto">
    <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                <% if (hasRecoveryEmail) { %>
                    <%= __("account.recovery.update_email.title") %>
                <% } else { %>
                    <%= __("account.recovery.add_email.title") %>
                <% } %>
            </h3>

            <form class="mt-5 space-y-6 max-w-md" autocomplete="off" action="" method="post">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">

                <%- include("../../../partials/alert-info.ejs",{info: __("account.recovery.set_email.waring_valid_email"),moreInfoLink: "https://github.com/pasewalck/aktivistio-accounts/blob/main/documentation/SECURITY.md"}) %>

                <%- include("../../../partials/form/input/input-field.ejs", {
                    field: {
                        label: __('common.current_password'),
                        name: "currentPassword",
                        id: "currentPassword",
                        type: "password",
                        required: true
                    }
                }) %>

                <%- include("../../../partials/form/input/input-field.ejs", {
                    field: {
                        label: __('account.recovery.set_email.new_email'),
                        name: "email",
                        id: "email",
                        type: "email",
                        required: true
                    }
                }) %>

                <div>
                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <%= __('account.recovery.set_email.set_new_button') %>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>