<%- include("../../../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">
    <div class="container container-medium-width container-filled-background">

        <% if (hasRecoveryEmail) { %>
            <h2><%= __("Update recovery email") %> </h2>
        <% } else { %>
            <h2><%= __("Add recovery email") %> </h2>
        <% } %>

        <form class="form" autocomplete="off" action="" method="post">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      
            <fieldset>       
              
                <%- include("../../../partials/alert-info.ejs",{info: __("You are about to set your recovery email. This will overwrite any old recovery email setup! Your email is stored hashed and even our admins can't see it."),moreInfoLink: "https"}) %> 
                
                <div class="form-group">
                    <label class="label"><%= __('Current password') %></label>
                    <%- include("../../../partials/form/input-field.ejs",{field: {name:"currentPassword",type:"password",required:true}}) %> 
                </div>

                <div class="form-group">
                    <label class="label"><%= __('New Recovery Email') %></label>
                    <%- include("../../../partials/form/input-field.ejs",{field: {name:"email",type:"email",required:true}}) %> 
                </div>

            </fieldset>
            
            <div class="form-action-group">
              <div class="button-group">
                <button type="submit" class="button primary"><%= __('Set recovery email') %></button>
              </div>
            </div>

        </form>
        
    </div>
</div>