<% /* 
 * This file is part of "Aktivistio Accounts".
 *
 * The project "Aktivistio Accounts" implements an account system and 
 * management platform combined with an OAuth 2.0 Authorization Server.
 *
 * "Aktivistio Accounts" is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * "Aktivistio Accounts" is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with "Aktivistio Accounts". If not, see <https://www.gnu.org/licenses/>.
 *
 * Copyright (C) 2025 Jana
 */
 %>

<%- include("../../../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">

    <div class="container container-medium-width container-filled-background">

        <% if (hasRecoveryToken) { %>
            <h2><%= __("account.common.recovery_token.new.title") %></h2>
        <% } else { %>
            <h2><%= __("page.recovery.add.token.title") %></h2>
        <% } %>

        <form class="form" autocomplete="off" action="" method="post">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      
            <fieldset>

                <%- include("../../../partials/alert-info.ejs",{info: __("account.common.recovery_token.setup.warning"),moreInfoLink: "https"}) %> 
                
                <div class="form-group">
                    <label class="label"><%= __('common.current_password') %></label>
                    <%- include("../../../partials/form/input-field.ejs",{field: {name:"currentPassword",type:"password",required:true}}) %> 
                </div>

                <div class="form-group">

                    <input type="hidden" name="token" value="<%= recoveryToken %>">
                    <label class="label"><%= __('account.common.recovery_token.new.label') %></label> 

                    <div class="output-field">
                        <p><%= recoveryToken %></p>
                    </div>

                    <%- include("../../../partials/form/input-checkbox.ejs",{checkbox: {name:"tokenVerify",msg:__('account.common.recovery_token.verify.checkbox')}}) %>             
                    
                </div>
            
            </fieldset>
      
            <div class="form-action-group">
              <div class="button-group-row">
                <button type="submit" class="button primary"><%= __('account.common.recovery_token.set.button') %></button>
              </div>
            </div>
      
        </form>
        
    </div>
</div>
