<%- include("../../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">
    <div class="container container-medium-width container-filled-background">

        <h2><%= __("Change Password") %> </h2>

        <form class="form" action="" method="post">

            <input type="hidden" value="<%= csrfToken %>" name="_csrf" >

            <fieldset>

                <% if (errorMsg) { %>
                    <%- include("../../partials/alert-info.error.ejs",{info: __(errorMsg),moreInfoLink: false}) %> 
                <% } %>

                <div class="form-group">
                  <label class="label"><%= __('Current password') %></label>
                  <input required class="input-field" type="password" name="currentPassword"/>
                </div>

                <div class="form-group">
                  <label class="label"><%= __('New password') %></label>
                  <input required class="input-field" type="password" name="newPassword"/>
                </div>

                <div class="form-group">
                    <label class="label"><%= __('Confirm new password') %></label>
                    <input required class="input-field" type="password" name="confirmNewPassword" />
                </div>

            </fieldset>

            <div class="form-action-group">
                <button class="button primary" type="submit"><%= __("Change password") %> </button>
            </div>

        </form>
        
    </div>
</div>