<%- include("../../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">
    <div class="container container-medium-width container-filled-background">

        <h2><%= __("Change Password") %> </h2>

        <form class="form" action="" method="post">

            <input type="hidden" value="<%= csrfToken %>" name="_csrf" >

            <fieldset>

                <div class="form-group">
                  <label class="label"><%= __('Current password') %></label>
                  <%- include("../../partials/form/input-field.ejs",{field: {name:"currentPassword",type:"password",required:true}}) %> 
                </div>

                <div class="form-group">
                  <label class="label"><%= __('New password') %></label>
                  <%- include("../../partials/form/input-field.ejs",{field: {name:"newPassword",type:"password",required:true}}) %> 
                </div>

                <div class="form-group">
                    <label class="label"><%= __('Confirm new password') %></label>
                    <%- include("../../partials/form/input-field.ejs",{field: {name:"confirmNewPassword",type:"password",required:true}}) %> 
                </div>

            </fieldset>

            <div class="form-action-group">
                <button class="button primary" type="submit"><%= __("Change password") %> </button>
            </div>

        </form>
        
    </div>
</div>