<%- include("../../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">

    <div class="container container-medium-width container-filled-background">

        <% if (hasRecoveryToken) { %>
            <h2><%= __("New recovery token") %> </h2>
        <% } else { %>
            <h2><%= __("Add recovery token") %> </h2>
        <% } %>

        <form class="form" autocomplete="off" action=""method="post">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      
            <fieldset>

                <%- include("../../partials/alert-info.ejs",{info: __("You are about to set your recovery token. This will overwrite any old recovery token setup! Your token is stored hashed and even our admins can't see it."),moreInfoLink: "https"}) %> 
                
                <div class="form-group">
                    <label class="label"><%= __('Current password') %></label>
                    <%- include("../../partials/form/input-field.ejs",{field: {name:"currentPassword",type:"password",required:true}}) %> 
                </div>

                <div class="form-group">

                    <input type="hidden" name="recoveryToken" value="<%= recoveryToken %>">
                    <label class="label"><%= __('New Recovery Token') %></label> 

                    <div class="output-field">
                        <p><%= recoveryToken %></p>
                    </div>

                    <%- include("../../partials/form/input-checkbox.ejs",{checkbox: {name:"recoveryTokenVerify",msg:__('I have written down the code')}}) %>             
                    
                </div>
            
            </fieldset>
      
            <div class="form-action-group">
              <div class="button-group">
                <button type="submit" class="button primary"><%= __('Set recovery Token') %></button>
              </div>
            </div>
      
        </form>
        
    </div>
</div>