<div <% if (field.groupId) {%>id="<%= field.groupId %>"<%} %>>
    <% if (field.label) { %>
        <label for="<%= field.id %>" class="block text-sm font-medium text-gray-700">
            <%= field.label %>
        </label>
    <% } %>
    <div class="mt-1">
        <input
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm sm:text-sm <%= errors[field.name] ? 'border-red-300 text-red-900 placeholder-red-300 focus:ring-red-500 focus:border-red-500' : 'placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500' %>"
            <%=field.required ? "required" : "" %>
            type="<%= field.type %>"
            name="<%= field.name %>"
            <% if (field.pattern) {%>pattern="<%= field.pattern %>"<%} %>
            <% if (field.min) {%>min="<%= field.min %>"<%} %>
            <% if (field.max) {%>max="<%= field.max %>"<%} %>
            <% if (field.value) {%>value="<%= field.value %>"<%} %>
            <% if (!field.blockValue && (formData[field.name] || errors[field.name]?.value)) { %>value="<%= formData[field.name] ? formData[field.name] : errors[field.name].value %>"<% } %>
        />
        <% if (errors[field.name]) { %>
            <% errors[field.name].rendered = true %>
            <p class="mt-2 text-sm text-red-600"><%= errors[field.name].msg %></p>
        <% } %>

        <% if (field.help) { %>
            <div class="mt-1 flex items-center justify-end">
                <div class="text-sm">
                    <a href="<%= field.help.link %>" class="font-medium text-indigo-600 hover:text-indigo-500">
                        <%= field.help.displayName %>
                    </a>
                </div>
            </div>
        <% } %>
        <% if (field.info) { %>
            <p class="mt-1 text-sm text-gray-500"><%= field.info %></p>
        <% } %>
    </div>
</div>