<div class="wrapper flex-container flex-container-vertical">
    <div class="container-medium-width container-filled-background">

        <h1><%= __('consent.title') %></h1>

        <div class="scroll-box-limited">
           <div class="text">
            <%- consents %> 
           </div>
        </div>
    
        <form class="form" autocomplete="off" action="<%= urlUtils.extendUrl(baseUrl,isRegister ? `register` : `welcome/${formData.actionToken}`,`consent`).href %>"method="post">
        <input type="hidden" value="<%= csrfToken %>" name="_csrf">

        <fieldset>
    
            <div id="recoveryTokenSection" class="form-group">
                <%- include("../../../partials/form/input-checkbox.ejs",{checkbox: {name:"verify",msg:__('consent.verification_statement')}}) %>             
            </div>
            
        </fieldset>

        <div class="form-action-group">
            <div class="button-group">
                <button type="submit" class="button primary"><%= __('account.create') %></button>
            </div>
        </div>

        </form>
    
    </div>
</div>
