<%
//  This file is part of "Aktivistio Accounts".
//  
//  The project "Aktivistio Accounts" implements an account system and 
//  management platform combined with an OAuth 2.0 Authorization Server.
//  
//  "Aktivistio Accounts" is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//  
//  "Aktivistio Accounts" is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
//  GNU General Public License for more details.
//  
//  You should have received a copy of the GNU General Public License
//  along with "Aktivistio Accounts". If not, see https://www.gnu.org/licenses/.
//  
//  Copyright (C) 2025 Jana 
%>

<div class="wrapper flex-container flex-container-vertical">
    <div class="container-medium-width container-filled-background">

        <h1><%= title %></h1>
        <p><%= __('authorization.confirm_access', { clientId: clientId }) %></p>

        <form class="form" autocomplete="off" action="<%= urls.action %>" method="post">
        <input type="hidden" value="<%= csrfToken %>" name="_csrf">

        <div class="form-action-group">
            <div class="button-group-row">
            <button type="submit" class="button primary"><%= __('authorization.verify') %></button>
            <% if (urls.abort) { %>
                <a class="button red" href="<%= urls.abort %>"><%= __('authorization.abort') %></a>
            <% } %>
            </div>
        </div>

        </form>

    </div>
</div>
