<div class="wrapper flex-container flex-container-vertical">
    <div class="container-medium-width container-filled-background">

        <h1><%= __("Logout") %></h1>
        <p><%= __("Do you want to logout everywhere?") %> </p>

        <form class="form" autocomplete="off" action="<%= urlUtils.extendUrl(baseUrl, 'oidc/session/end/confirm/').href %>" method="post">
        
            <input type="hidden" name="xsrf" value="<%= secret %>"/>
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">

            <div class="form-action-group">
                <div class="button-group">
                    <button autofocus type="submit" value="yes" name="logout" class="button primary"><%= __('Yes') %></button>
                    <button type="submit" class="button red"><%= __('No') %></button>
                </div>
            </div>

        </form>

    </div>
</div>