<p>
    <%= __("email.recovery.greeting") %> <br>
    <%= __("email.recovery.description") %> 
</p>
<a class="link" href="<%= link %>"><%= link %></a>
<p>
    <%= __("email.recovery.security-warning") %>
</p>
