<p>
    <%= __("email.body.recovery.greeting") %> <br>
    <%= __("email.body.recovery.description") %>
</p>
<a class="link" href="<%= link %>"><%= link %></a>
<p>
    <%= __("email.body.recovery.security_warning") %>
</p>