<%
//  This file is part of "Aktivistio Accounts".
//
//  The project "Aktivistio Accounts" implements an account system and
//  management platform combined with an OAuth 2.0 Authorization Server.
//
//  "Aktivistio Accounts" is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  "Aktivistio Accounts" is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with "Aktivistio Accounts". If not, see https://www.gnu.org/licenses/.
//
//  Copyright (C) 2025 Jana Caroline Pasewalck
%>

<header class="header">
    <div class="header-container">

        <div class="header-box">
            <nav class="main-nav">
                <a href="<%= urlUtils.extendUrl(baseUrl, 'invites').href %>"><%= __("widget.navigation.invites") %></a>
                <a href="<%= urlUtils.extendUrl(baseUrl, 'services').href %>"><%= __("widget.navigation.services") %></a>

                <% if (hasPermission(account.role, "MANAGE_USERS")) { %>
                    <a href="<%= urlUtils.extendUrl(baseUrl, 'users').href %>"><%= __("widget.navigation.users") %></a>
                <% } %>
            </nav>
        </div>

        <div class="header-box account-box">
            <div class="account-profile">
                <img src="<%= urlUtils.extendUrl(baseUrl, 'icons/account.svg').href %>" alt="<%= __('widget.account.icon_alt') %>">
                <div class="account-info">
                    <p class="username"><%= account.username %></p>
                </div>
            </div>
            <nav class="account-nav">
                <a href="<%= urlUtils.extendUrl(baseUrl, 'account').href %>" aria-label="<%= __('widget.account.settings') %>">
                    <img src="<%= urlUtils.extendUrl(baseUrl, 'icons/settings.svg').href %>" alt="<%= __('widget.account.settings_icon_alt') %>">
                </a>
                <button form="logoutForm" aria-label="<%= __('widget.account.logout') %>">
                    <img src="<%= urlUtils.extendUrl(baseUrl, 'icons/logout.svg').href %>" alt="<%= __('widget.account.logout_icon_alt') %>">
                </button>
            </nav>
        </div>

    </div>
</header>

<form style="display: none;" id="logoutForm" method="post" action="<%= urlUtils.extendUrl(baseUrl, 'logout').href %>">
    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
</form>