<header class="header">
    <div class="header-container">
        
        <div class="header-box">
            <nav class="main-nav">
                <a href="<%= urlUtils.extendUrl(baseUrl, 'invites').href %>"><%= __("Invites") %></a>
                <a href="<%= urlUtils.extendUrl(baseUrl, 'services').href %>"><%= __("Services") %></a>
                
                <% if (hasPermission(account.role, "MANAGE_USERS")) { %>
                    <a href="<%= urlUtils.extendUrl(baseUrl, 'users').href %>"><%= __("Users") %></a>
                <% } %>
            </nav>
        </div>

        <div class="header-box account-box">
            <div class="account-profile">
                <img src="<%= urlUtils.extendUrl(baseUrl, 'icons/account.svg').href %>" alt="Account Icon">
                <div class="account-info">
                    <p class="username"><%= account.username %></p>
                </div>
            </div>
            <nav class="account-nav">
                <a href="<%= urlUtils.extendUrl(baseUrl, 'account').href %>">
                    <img src="<%= urlUtils.extendUrl(baseUrl, 'icons/settings.svg').href %>" alt="Settings Icon">
                </a>
                <button form="logoutForm">
                    <img src="<%= urlUtils.extendUrl(baseUrl, 'icons/logout.svg').href %>" alt="Logout Icon">
                </button>
            </nav>
        </div>

    </div>
</header>

<form style="display: none;" id="logoutForm" method="post" action="<%= urlUtils.extendUrl(baseUrl, 'logout').href %>">
    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
</form>
