<footer class="bg-gray-50 border-t border-gray-200 mt-auto">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex flex-row justify-between items-center">
        <div class="flex items-center space-x-4">
            <form class="language-dropdown relative"
                action="<%= urlUtils.extendUrl(baseUrl, 'change-language').href %>">
                <select name="lng" onchange='this.form.submit()'
                    class="block w-full pl-3 pr-10 py-2 text-base cursor-pointer border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md bg-white shadow-sm">
                    <option selected value="<%= locals.getLocale() %>"><%= __("widget.language.info."+locals.getLocale()) %></option>
                    <% for(var i=0; i < locals.getLocales().length; i++) { %>
                        <% if (locals.getLocales()[i] != locals.getLocale()) {%>
                            <option value="<%= locals.getLocales()[i] %>"><%= __("widget.language.info."+locals.getLocales()[i]) %></option>
                        <% } %>
                    <% } %>
                </select>
                <button id="language-dropdown-submit" type="submit" class="hidden"><%= __("component.language.submit") %></button>
            </form>
        </div>

        <div class="mt-0">
            <a class="text-gray-400 hover:text-gray-500 cursor-pointer" href="https://github.com/pasewalck/aktivistio-accounts/" target="_blank" rel="noopener noreferrer">
                <span class="text-sm">Source Code</span>
            </a>
        </div>
    </div>
</footer>

<script>
    document.getElementById("language-dropdown-submit").style.display = "None";
</script>