<form class="language-dropdown" action="/change-language">
    <select name="lng" onchange='this.form.submit()'>
        <option selected value="<%= locals.getLocale() %>"><%= __({ phrase: "🇬🇧", locale: locals.getLocale() }) %></option>
        <% for(var i=0; i < locals.getLocales().length; i++) { %>
            <% if (locals.getLocales()[i] != locals.getLocale()) {%> 
                <option value="<%= locals.getLocales()[i] %>"><%= __({ phrase: "🇬🇧", locale: locals.getLocales()[i] }) %></option>
            <% } %>
        <% } %>
    </select>
    <button id="language-dropdown-submit" type="submit"><%= __("Submit") %></button>
</form>

<script>
    document.getElementById("language-dropdown-submit").style.display = "None";
</script>
