<form class="language-dropdown" action="<%= urlUtils.extendUrl(baseUrl, 'change-language').href %>">
    <select name="lng" onchange='this.form.submit()'>
        <option selected value="<%= locals.getLocale() %>"><%= __("widgte.language.info."+locals.getLocale()) %></option>
        <% for(var i=0; i < locals.getLocales().length; i++) { %>
            <% if (locals.getLocales()[i] != locals.getLocale()) {%> 
                <option value="<%= locals.getLocales()[i] %>"><%= __("widgte.language.info."+locals.getLocales()[i]) %></option>
            <% } %>
        <% } %>
    </select>
    <button id="language-dropdown-submit" type="submit"><%= __("widgte.language.submit") %></button>
</form>

<script>
    document.getElementById("language-dropdown-submit").style.display = "None";
</script>
