<% /* 
 * This file is part of "Aktivistio Accounts".
 *
 * The project "Aktivistio Accounts" implements an account system and 
 * management platform combined with an OAuth 2.0 Authorization Server.
 *
 * "Aktivistio Accounts" is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * "Aktivistio Accounts" is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with "Aktivistio Accounts". If not, see <https://www.gnu.org/licenses/>.
 *
 * Copyright (C) 2025 Jana
 */
 %>

<!DOCTYPE html>
<html lang="<%= locals.getLocale() %>">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <style>
            .container {
                max-width: 600px;
                width: 100%;
                padding: 40px;
                margin: auto;
            }
            .app-info {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 6px;
                text-decoration: none;
                color: unset;
            }
            .app-info .logo {
                height: 30px;
            }
            .app-info .name {
                font-size: 15px;
                font-weight: 500;
            }
            h1 {
                font-weight: 700;
                font-size: 26px;
            }
            p {
                font-weight: 400;
                font-size: 14px;
            }
            p.code {
                font-weight: 500;
                font-size: 18px;
            }
            p.link {
                font-weight: 500;
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <a class="app-info" href="<%= baseUrl.href %> ">
                    <img class="logo" src="cid:<%= app.logo %>" alt="<%= app.name %> Logo">
                    <p class="name"><%= app.name %></p>
                </a>
                <h1><%= title %></h1>
            </div>
            <div class="content">
                <%- body %> 
            </div>

        </div>
    </body>
</html>
