<div class="max-w-7xl mx-auto space-y-6">
    <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                <%= __("page.own_account.menu.security-and-access.title") %>
            </h3>
            <div class="mt-5 space-y-3 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-3">
                 <a href="<%= urlUtils.extendUrl(baseUrl, 'account/password/').href %>" class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
                    <%= __("page.own_account.menu.security-and-access.password-change") %>
                 </a>
                 <a href="<%= urlUtils.extendUrl(baseUrl, 'account/2fa').href %>" class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
                    <%= __("page.own_account.menu.security-and-access.mfa-manage") %>
                 </a>
                 <a href="<%= urlUtils.extendUrl(baseUrl, 'account/audit-log').href %>" class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
                    <%= __("page.own_account.menu.security-and-access.audit-view") %>
                 </a>
            </div>
        </div>
    </div>

    <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                <%= __("page.own_account.menu.recovery.title") %>
            </h3>
            <div class="mt-5">
                <a href="<%= urlUtils.extendUrl(baseUrl, 'account/recovery').href %>" class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:w-auto sm:text-sm">
                    <%= __("page.own_account.menu.recovery-manage") %>
                </a>
            </div>
        </div>
    </div>

    <div class="bg-white shadow sm:rounded-lg border-l-4 border-red-500">
        <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-red-900">
                <%= __("page.own_account.menu.deletion.title") %>
            </h3>
            <div class="mt-5">
                <a href="<%= urlUtils.extendUrl(baseUrl, 'account/delete/').href %>" class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:text-sm">
                    <%= __("page.own_account.menu.deletion.proceed") %>
                </a>
            </div>
        </div>
    </div>
</div>