<div class="max-w-7xl mx-auto">
    <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                <%= __("page.admin.user_add.title") %>
            </h3>

            <form class="mt-5 space-y-6 max-w-md" action="" method="post">
                 <input type="hidden" value="<%= csrfToken %>" name="_csrf">

                <%- include("../../partials/form/input/input-field.ejs", {
                    field: {
                        label: __('common.username'),
                        name: "username",
                        id: "username",
                        type: "text",
                        required: true
                    }
                }) %>

                <%
                var options = []
                Role.allLower(account.role).forEach(role => {
                    options.push({ value: role, displayName: Role.getRoleInfo(role).name })
                })
                %>

                <%- include("../../partials/form/input/input-select.ejs", {
                    select: {
                        label: __('common.account_role'),
                        name: "role",
                        id: "role",
                        value: options[0],
                        options: options
                    }
                }) %>

                <div>
                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <%= __("page.admin.user_add.create") %>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>