<% const canGenerate = hasPermission(account.role, Permission.MANAGE_OWN_INVITES); %>

<style>
    @media only screen and (min-width: 1000px) {
        .invite-code .invite-hidden-part {
            filter: blur(3px);
            transition: all 0.5s;
        }
    }
    .invite-code:hover .invite-hidden-part {
        filter: blur(0px);
    }
    @keyframes slide-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .animate-in-invite {
        animation: slide-in 0.5s ease-in forwards;
    }
</style>

<div class="space-y-6">
    <% if (inviteCodes.length > 0 || !canGenerate) { %>
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    <%= __("admin.invite.title") %>
                </h3>
            </div>
            <div class="border-t border-gray-200">
                <% if (inviteCodes.length <= 0) { %>
                     <div class="p-4">
                        <% if (lockedInviteCodes.length > 0 && !canGenerate) { %>
                            <% var daysLeft = (new Date(lockedInviteCodes[0].createDate * 1000) - new Date().getTime()) / 1000 / (60 * 60 * 24); %>
                            <%- include("../../partials/alert-info.ejs", { info: __("admin.invite.invites_unlocked_message", Number.parseFloat(daysLeft).toFixed(0)), moreInfoLink: false }) %>
                        <% } else { %>
                            <%- include("../../partials/alert-info.ejs", { info: __("admin.invite.no_invites_message"), moreInfoLink: "mailto:todomail" }) %>
                        <% } %>
                     </div>
                <% } else { %>
                    <ul class="divide-y divide-gray-200">
                        <% for (let index = 0; index < inviteCodes.length; index++) { %>
                            <%
                                let isNew = animateNewest
                                animateNewest = false
                            %>
                            <li class="px-4 py-4 sm:px-6 flex items-center justify-between<%= isNew ? ' animate-in-invite' : '' %>">
                                <div class="flex items-center space-x-4">
                                    <div class="invite-code font-mono text-lg font-bold text-gray-900">
                                        <span class="invite-hidden-part"><%= inviteCodes[index].code.substring(0, 4) %></span><span><%= inviteCodes[index].code.substring(4) %></span>
                                    </div>
                                    <div class="inline-flex items-center gap-1.5">
                                        <% if (inviteCodes[index].expireDate) { %>
                                            <% var date = new Date(inviteCodes[index].expireDate * 1000); %>
                                            <% var daysLeft = (date.getTime() - new Date().getTime()) / 1000 / (60 * 60 * 24); %>
                                            <% if (daysLeft < 14) { %>
                                                <span class="px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800"><%= __("common.expires_in_days", Number.parseFloat(daysLeft).toFixed(0)) %></span>
                                            <% } else { %>
                                                <%= __("common.expires_on_date", date.toLocaleString("en-GB").split(', ')[0]) %>
                                            <% } %>
                                        <% } %>
                                        <% if (inviteCodes[index].maxUses != 1) { %>
                                            <div class=" px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800">
                                                <%= __("admin.invite.invite_use_indicator",inviteCodes[index].maxUses-inviteCodes[index].uses,inviteCodes[index].maxUses) %>
                                            </div>
                                        <% } %>
                                        <% if (isNew) { %>
                                            <div class=" px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                                <%= __("common.new") %>
                                            </div>
                                        <% } %>
                                    </div>

                                </div>
                                <div class="flex items-center space-x-2">
                                    <a href="<%= urlUtils.extendUrl(baseUrl, `invites/share/${inviteCodes[index].code}`).href %>" class="cursor-pointer">
                                        <img class="h-6 w-6" src="/icons/qr.svg" alt="QR">
                                    </a>
                                    <% if (canGenerate) { %>
                                        <form action="<%= urlUtils.extendUrl(baseUrl, 'invites/terminate').href %>" method="post" class="h-6 w-6">
                                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                            <input type="hidden" value="<%= inviteCodes[index].code %>" name="code">
                                            <button type="submit" class="cursor-pointer">
                                                <img class="h-6 w-6" src="/icons/red.cross.svg" alt="Remove">
                                            </button>
                                        </form>
                                    <% } %>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </div>
    <% } %>

    <% if (canGenerate) { %>
        <div class="bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:p-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    <%= __("admin.invite.generate") %>
                </h3>
                <form class="mt-5 space-y-6" action="<%= urlUtils.extendUrl(baseUrl, 'invites/generate').href %>" method="post">
                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">

                    <%- include("../../partials/form/input/input-field.ejs", {
                        errors: {},
                        formData: {},
                        field: {
                            label: __('admin.invite.uses'),
                            name: "count",
                            id: "count",
                            type: "number",
                            required: true,
                            min: 1,
                            max: 1000,
                            value: 1
                        }
                    }) %>
                    <p class="mt-2 text-sm text-gray-500"><%= __("admin.invite.uses_hint") %></p>

                    <%- include("../../partials/form/input/input-field.ejs", {
                        errors: {},
                        formData: {},
                        field: {
                            label: __('admin.invite.expire_label'),
                            name: "date",
                            id: "date",
                            type: "date"
                        }
                    }) %>

                    <div>
                        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            <%= __("admin.invite.generate_invite") %>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
</div>