<%- include("../../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">

    <div class="container container-medium-width container-filled-background">

        <h1><%= __("page.admin.manage_account.title") %> </h1>

        <form class="form" action="<%= urlUtils.extendUrl(baseUrl, `user/manage/${managingAccount.id}/update`).href %>" method="post">
            <fieldset>

                <div class="form-group" >
                    <label class="label"><%= __('common.username') %></label> 
                    <div class="output-field">
                        <p><%= managingAccount.username %></p>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="label"><%= __('common.user_uuid_label') %></label> 
                    <div class="output-field">
                        <p><%= managingAccount.id %></p>
                    </div>
                </div>

            </fieldset>

        </form>

    </div>

    <div class="container container-medium-width container-filled-background">
        <% var isNew = managingAccount.lastLogin == null %> 
        <% if (isNew) { %>
            <h2><%= __("page.admin.manage_account.send_setup_email") %> </h2>
        <% } else { %>
            <h2><%= __("send_recovery_email_title") %> </h2>
        <% } %>

        <form class="form" action="<%= urlUtils.extendUrl(baseUrl, `user/manage/${managingAccount.id}`,isNew ? `send-setup` : `send-recovery`).href %>" method="post">
            
            <fieldset>

                <div class="form-group" >
                    <label class="label"><%= __('target_email_label') %></label> 
                    <%- include("../../partials/form/input-field.ejs",{field: {name:"email",type:"email"}}) %>  
                </div>

            </fieldset>
                  
            <div class="form-action-group">
                <button class="button" type="submit"><%= __("send_email_button") %> </button>
            </div>   
        </form>

    </div>


    <div class="container container-medium-width container-filled-background">

        <h2><%= __("update_account_title") %> </h2>

        <form class="form" action="<%= urlUtils.extendUrl(baseUrl, `user/manage/${managingAccount.id}/update`).href %>" method="post">
            <fieldset>

                <div class="form-group" >
                    <label class="label"><%= __('common.account_role') %></label> 
                    <% var options = []
                    Role.allLower(account.role).forEach(role => {
                        options.push({value:role,displayName:Role.getRoleInfo(role).name})
                    }) %>
                    <%- include("../../partials/form/input-select.ejs",{select: {name:"accountUpdateRole",id:"accountUpdateRole",value:managingAccount.role,options:options}}) %>
                </div>

            </fieldset>

            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <div class="form-action-group">
                <button class="button" type="submit"><%= __("update_button") %> </button>
            </div>     

        </form>

    </div>

    <% if (hasPermission(account.role,Permission.DELETE_USERS)) { %>

        <div class="container container-medium-width container-filled-background">
            <h2><%= __("delete_account_title") %> </h2>

            <form class="form" action="<%= urlUtils.extendUrl(baseUrl, `user/manage/${managingAccount.id}/delete`).href %>" method="post">
                <fieldset>
                    
                    <div class="form-group">
                        <label class="label"><%= __('admin_password_label') %></label>
                        <%- include("../../partials/form/input-field.ejs",{field: {name:"deleteAdminPassword",type:"password",required:true}}) %> 
                    </div>

                    <div class="form-group">
                        <label class="label"><%= __('confirm_action_label') %></label>
                        <%- include("../../partials/form/input-checkbox.ejs",{checkbox: {name:"deleteAdminConfirm",msg:__('delete_confirmation_checkbox',managingAccount.username)}}) %>             
                    </div>

                </fieldset>

                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                <div class="form-action-group">
                    <button class="button red" type="submit"><%= __("delete_forever_button") %> </button>
                </div>     

            </form>
            
        </div>

    <% } %>

</div>

