<%- include("../../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">

    <div class="container container-medium-width container-filled-background">
        <h2><%= __('page.user_list.title') %></h2>

        <ul class="user-list">
            <% users.forEach(user => { %>
                <li>
                    <div class="infos">
                        <div class="username"><%= user.username + (user.username == account.username ? ` (` + __('page.user_list.current_user') + `)` : "") %></div>
                        <% var roleInfo = Role.getRoleInfo(user.role) %> 
                        <div class="role" <%- `style="background-color: ${roleInfo.color};"` %>><%= roleInfo.name %></div>
                    </div>
                    <% if (user.role < account.role) { %>
                        <div class="links">
                            <a href="<%= urlUtils.extendUrl(baseUrl, `user`,`manage`,`${user.id}`).href %>"><img src="<%= urlUtils.extendUrl(baseUrl, 'icons/settings.svg').href %>" alt=""></a>                        </div>
                    <% } %>
                </li>
            <% }) %>
            
        </ul>


    </div>

    <div class="container container-medium-width">

        <a href="<%= urlUtils.extendUrl(baseUrl, 'user','add').href %>" class="button"><%= __("page.user_list.create") %> </a>

    </div>

</div>
