<%
//  This file is part of "Aktivistio Accounts".
//  
//  The project "Aktivistio Accounts" implements an account system and 
//  management platform combined with an OAuth 2.0 Authorization Server.
//  
//  "Aktivistio Accounts" is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//  
//  "Aktivistio Accounts" is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
//  GNU General Public License for more details.
//  
//  You should have received a copy of the GNU General Public License
//  along with "Aktivistio Accounts". If not, see https://www.gnu.org/licenses/.
//  
//  Copyright (C) 2025 Jana Caroline Pasewalck 
%>

<%- include("../../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">

    <div class="container container-medium-width container-filled-background">
        <h2><%= __('page.user_list.title') %></h2>

        <ul class="user-list">
            <% users.forEach(user => { %>
                <li>
                    <div class="infos">
                        <div class="username"><%= user.username + (user.username == account.username ? ` (` + __('page.user_list.current_user') + `)` : "") %></div>
                        <% var roleInfo = Role.getRoleInfo(user.role) %> 
                        <div class="role" <%- `style="background-color: ${roleInfo.color};"` %>><%= roleInfo.name %></div>
                    </div>
                    <% if (user.role < account.role) { %>
                        <div class="links">
                            <a href="<%= urlUtils.extendUrl(baseUrl, `user`,`manage`,`${user.id}`).href %>"><img src="<%= urlUtils.extendUrl(baseUrl, 'icons/settings.svg').href %>" alt=""></a>                        </div>
                    <% } %>
                </li>
            <% }) %>
            
        </ul>


    </div>

    <div class="container container-medium-width">

        <a href="<%= urlUtils.extendUrl(baseUrl, 'user','add').href %>" class="button"><%= __("page.user_list.create") %> </a>

    </div>

</div>
