<%
//  This file is part of "Aktivistio Accounts".
//  
//  The project "Aktivistio Accounts" implements an account system and 
//  management platform combined with an OAuth 2.0 Authorization Server.
//  
//  "Aktivistio Accounts" is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//  
//  "Aktivistio Accounts" is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
//  GNU General Public License for more details.
//  
//  You should have received a copy of the GNU General Public License
//  along with "Aktivistio Accounts". If not, see https://www.gnu.org/licenses/.
//  
//  Copyright (C) 2025 Jana 
%>

<!DOCTYPE html>
<html lang="<%= locals.getLocale() %>">
  <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <title><%= title %> - <%= app.name %></title>
      <link href="<%= urlUtils.extendUrl(baseUrl, 'css/style.css').href %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <%- body %>
      <%- include("../partials/footer.ejs") %>
  </body>
</html>
