<!DOCTYPE html>
<html lang="<%= locals.getLocale() %>">

<head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
        <%- include("../partials/dashboard-header.ejs") %>
      <%- body %>
      <%- include("../partials/footer.ejs") %>
  </body>
</html>